.page {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.header {
	height: 88rpx;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	z-index: 2;
	border-bottom: 2rpx solid #f7f7f7;
    /* margin-top: 100rpx; */
}

.header view {
	flex-grow: 1;
	height: 88rpx;
	line-height: 88rpx;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	color: #a7a7a7;
}

.header i {
	display: inline-block;
	flex-grow: 0;
}

/* .header .leftIcon {
	width: 35rpx;
	height: 35rpx;
	background: url(../../static/image/xf/top-up.png) no-repeat;
	background-size: 100%;
} */

/* .header .rightIcon {
	width: 32rpx;
	height: 39rpx;
	background: url(../../static/image/xf/transfer.png) no-repeat;
	background-size: 100%;
} */

.header text {
	margin-left: 12rpx;
	font-size: 30rpx;
	line-height: 1;
}

.scrollComponent {
	height: 100%;
	overflow: scroll;
}

.header .borderBottom {
	border-bottom: 4rpx solid #EAD4AC;
	box-sizing: border-box;
	color:#EAD4AC;
}