// 默认主题色
$theme-color: #fead00;
$theme-activeColor: #fff;
// 默认底色
$bg-Color: #0a0a0a;
$bgActive-Color: #1d1d1d;

// 登录、注册
$login-bgColor: #272727;
$loginColor: #fff;
$login-tabColor: #f9f1be;
$login-inputBgColor: #fff;
$login-inputColor: #707070;
$login-textColor: #000;
$login-linerColor: linear-gradient(180deg, #e7b85b, #fcf6c6);
$header-activeColor:#fead00;
// 用户中心
$headr-bgColor: #000;
$nav-bgColor: #292829;
$headr-bgColor1: #1f1f1f;
$headr-Color: #fff;
// 优惠
$active-bgColor: #111;
$active-btnColor: #000;
$active-color: #fff;
$active-btncolor1: linear-gradient(225deg, #9b7c4c, #ffe7c1);
$activity-bg: #0a0a0a;
$game-tabBg: #2a2a2a;
$game-tabColor: #fff;
$game-textColor: #8c999c;
$notice-bg: rgba(0, 0, 0, 0.85);
$header-mycolor: #54b9ff;
$header-btnColor: #fead00;
$game-Bg: #202020;
$game-Rborder: #3d3d3d;
body {
  --themeColor: #111;
  --themeAssistColor: #f9a425;
}

.themeColor {
  background-color: var(--themeColor);
}
