// 默认主题色
$theme-color: #5aaaf3;
$theme-activeColor: #fff;
// 默认底色
$bg-Color: #0a0a0a;
$bgActive-Color: #1d1d1d;

// 登录、注册
$login-bgColor: #fff;
$loginColor: #000;
$login-tabColor: #5aaaf3;
$login-inputBgColor: #f3f3f3;
$login-inputColor: #707070;
$login-textColor: #fff;
$login-linerColor: linear-gradient(180deg, #32abff, #32abff);
// 用户中心
$headr-bgColor: #0c5d91;
$nav-bgColor: #0c5d91;
$headr-bgColor1: #fff;
$headr-Color: #000;
$header-activeColor:#5aaaf3;

// 优惠
$active-bgColor: #fff;
$active-btnColor: #33a6cf;
$active-color: #fff;
$active-btncolor1: #fff;
$active-btncolor1: linear-gradient(225deg, #06396a 0%, #399fda 100%);
$activity-bg: linear-gradient(180deg, #fff, #cff0fe 30%, #fff 70%);
$game-tabBg: #2199ca;
$game-tabColor: #efc77a;
$game-textColor: #fff;
$notice-bg: #fff;
$header-mycolor: #fff;
$header-btnColor: #0080af;
$game-Bg: #33a6cf;
$game-Rborder: #0080af;

body {
  --themeColor: #fff;
  --themeAssistColor: #f9a425;
}

.themeColor {
  background-color: var(--themeColor);
}
