// 默认主题色
$theme-color: #5aaaf3;
$theme-activeColor: #fff;
// 默认底色
$bg-Color: #0a0a0a;
$bgActive-Color: #1d1d1d;

// 登录、注册
$login-bgColor: #fff;
$loginColor: #000;
$login-tabColor: #5aaaf3;
$login-inputBgColor: #f3f3f3;
$login-inputColor: #707070;
$login-textColor: #fff;
$login-linerColor: linear-gradient(180deg, #32abff, #32abff);
// 用户中心
$headr-bgColor: #0c5d91;
$nav-bgColor: #0c5d91;
$headr-bgColor1: #fff;
$headr-Color: #000;
$header-activeColor:#5aaaf3;

// 优惠
$active-bgColor: #fff;
$active-btnColor: #ddd;
$active-color: #fff;
$active-btncolor1: linear-gradient(225deg, #06396a 0%, #399fda 100%);
$activity-bg: #0a0a0a;
$game-tabBg: #2a2a2a;
$game-tabColor: #fff;
$game-textColor: #8c999c;
$header-mycolor: #54b9ff;
$notice-bg: rgba(0, 0, 0, 0.7);
$header-btnColor: #5aaaf3;
$game-Bg: #202020;
$game-Rborder: #3d3d3d;

body {
  --themeColor: #111;
  --themeAssistColor: #f9a425;
}

.themeColor {
  background-color: var(--themeColor);
}
