// 全局样式 控制换肤、图片
$locale: "pt", "vi", "zh_CN", "en"; //语言

$skinList: "bgga", "kubet", "betcome", "sovip"; //皮肤
// @import 'bgga';
// @import 'kubet';

// $user-theme: var(--user-theme);
// @import 'bgga' if($use-theme);
// @import 'kubet' if(not $use-theme);
// $use-theme1: true;
// @import 'bgga' if($use-theme1);

// @import 'kubet';// 主题色'

// @each $skin in $skinList {
//     #app.skin-#{$skin}{
//         @import url($skin);// 主题色'
//     }
// }

@each $lang in $locale {
  $imgUrl: "~@/assets/image/locale/#{$lang}/dze"; // 换肤图片路径
  // #app.lang-vi.skin-jun88{
  //     $imgUrl: '~@/assets/image/locale/vi/dze/jun88';// jun88 换肤图片路径
  // }
  #app.lang-#{$lang} {
    // 侧边栏悬浮窗
    .fwDownload {
      margin-bottom: 10px;
      cursor: pointer;
      .icon {
        width: 70px;
        height: 70px;
        background-size: cover;
      }
      .serviceBg {
        background: url("#{$imgUrl}/7.png") no-repeat;
      }
      .serviceBg:hover {
        background: url("#{$imgUrl}/8.png") no-repeat;
      }
      .fb {
        background: url("#{$imgUrl}/fb.png") no-repeat;
      }
      .fb:hover {
        background: url("#{$imgUrl}/fb-a.png") no-repeat;
      }
      .tg {
        background: url("#{$imgUrl}/tg.png") no-repeat;
      }
      .tg:hover {
        background: url("#{$imgUrl}/tg-a.png") no-repeat;
      }
      .yq {
        background: url("#{$imgUrl}/yq.png") no-repeat;
      }
      .yq:hover {
        background: url("#{$imgUrl}/yq-a.png") no-repeat;
      }
      .hotline {
        background: url("#{$imgUrl}/Hotline.png") no-repeat;
      }
      .hotline:hover {
        background: url("#{$imgUrl}/Hotline-a.png") no-repeat;
      }
      .zalo {
        background: url("#{$imgUrl}/zalo.png") no-repeat;
      }
      .zalo:hover {
        background: url("#{$imgUrl}/zalo-a.png") no-repeat;
      }
      .appDown {
        background: url("#{$imgUrl}/5.png") no-repeat;
      }
      .appDown:hover {
        background: url("#{$imgUrl}/6.png") no-repeat;
      }

      .appDown {
        background: url("#{$imgUrl}/5.png") no-repeat;
      }
      .appDown:hover {
        background: url("#{$imgUrl}/6.png") no-repeat;
      }
      .mosaicGold1 {
        background: url("#{$imgUrl}/mosaicGold1.png") no-repeat;
      }

      .mosaicGold1:hover {
        background: url("#{$imgUrl}/mosaicGold1Hover.png") no-repeat;
      }
      .mosaicGold2 {
        background: url("#{$imgUrl}/mosaicGold2.png") no-repeat;
      }
      .mosaicGold2:hover {
        background: url("#{$imgUrl}/mosaicGold2Hover.png") no-repeat;
      }

      .email {
        background: url("#{$imgUrl}/email.png") no-repeat center/cover;
      }
      .email:hover {
        background: url("#{$imgUrl}/email-a.png") no-repeat center/cover;
      }
    }
  }
}
// 白色皮肤
#app.skin-kubet,
#app.skin-jun88,
#app.skin-phattai68,
#app.skin-choibet {
  $imgUrl: "~@/assets/image/locale/vi/dze/jun88"; // jun88 换肤图片路径
  .jkContent {
    background: url("../../assets/image/pubilc/kubet_bg.png") !important;
    .jkTabs {
      width: 338px;
      overflow: auto;
      li {
        background: url("../../assets/image/pubilc/kubet_tab.png") no-repeat !important;

        &.active {
          background: url("../../assets/image/pubilc/kubet_tab_active.png")
            no-repeat !important;
        }
      }
    }
  }
  // 侧边栏悬浮窗
  .fwDownload {
    margin-bottom: 10px;
    cursor: pointer;
    .icon {
      width: 70px;
      height: 70px;
      background-size: cover;
    }
    .serviceBg {
      background: url("#{$imgUrl}/7.png") no-repeat;
    }
    .serviceBg:hover {
      background: url("#{$imgUrl}/8.png") no-repeat;
    }
    .fb {
      background: url("#{$imgUrl}/fb.png") no-repeat;
    }
    .fb:hover {
      background: url("#{$imgUrl}/fb-a.png") no-repeat;
    }
    .tg {
      background: url("#{$imgUrl}/tg.png") no-repeat;
    }
    .tg:hover {
      background: url("#{$imgUrl}/tg-a.png") no-repeat;
    }
    .yq {
      background: url("#{$imgUrl}/yq.png") no-repeat;
    }
    .yq:hover {
      background: url("#{$imgUrl}/yq-a.png") no-repeat;
    }
    .hotline {
      background: url("#{$imgUrl}/Hotline.png") no-repeat;
    }
    .hotline:hover {
      background: url("#{$imgUrl}/Hotline-a.png") no-repeat;
    }
    .zalo {
      background: url("#{$imgUrl}/zalo.png") no-repeat;
    }
    .zalo:hover {
      background: url("#{$imgUrl}/zalo-a.png") no-repeat;
    }
    .appDown {
      background: url("#{$imgUrl}/5.png") no-repeat;
    }
    .appDown:hover {
      background: url("#{$imgUrl}/6.png") no-repeat;
    }

    .appDown {
      background: url("#{$imgUrl}/5.png") no-repeat;
    }
    .appDown:hover {
      background: url("#{$imgUrl}/6.png") no-repeat;
    }
    .mosaicGold1 {
      background: url("#{$imgUrl}/mosaicGold1.png") no-repeat;
    }

    .mosaicGold1:hover {
      background: url("#{$imgUrl}/mosaicGold1Hover.png") no-repeat;
    }
    .mosaicGold2 {
      background: url("#{$imgUrl}/mosaicGold2.png") no-repeat;
    }
    .mosaicGold2:hover {
      background: url("#{$imgUrl}/mosaicGold2Hover.png") no-repeat;
    }
    .email {
      background: url("#{$imgUrl}/email.png") no-repeat center/cover;
    }
    .email:hover {
      background: url("#{$imgUrl}/email-a.png") no-repeat center/cover;
    }
  }
}
