.yu-datetime-picker {
	position: relative;
	z-index: 888;
}

.yu-datetime-mask {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
}

.yu-datetime-mask.show {
	visibility: visible;
	opacity: 1;
}

.yu-datetime-content {
	display: flex;
	flex-direction: column;
	height: 647rpx;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	transition: all 0.3s ease;
	transform: translateY(100%);
	z-index: 3000;
}

.yu-datetime-content.show {
	transform: translateY(0);
}

.yu-datetime-hd {
	flex-grow: 0;
	display: flex;
	align-items: center;
	padding: 0 30rpx;
	height: 88rpx;
	background-color: #F5F6F8;
	position: relative;
	text-align: center;
	font-size: 15px;
	justify-content: space-between;
}

.topupHeight {
	height: 88rpx
}

.yu-datetime-btn {
	font-size: 13px;
	position: absolute;
	left: 15px;
}

.yu-datetime-hd:after {
	content: ' ';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 1px;
	border-bottom: 1px solid #e5e5e5;
	color: #e5e5e5;
	transform-origin: 0 100%;
	transform: scaleY(0.5);
}

.yu-datetime-view {
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
	background-color: #F5F6F8;
	z-index: 666;
}

.yu-datetime-view .popup uni-text{
	line-height: 1 !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.yu-datetime-view picker-view {
	height: 100%;
}

.yu-picker-column {
	-webkit-flex: 2;
	-webkit-box-flex: 2;
	flex: 2;
}

.yu-datetime-item {
	text-align: center;
	width: 100%;
	height: 100rpx;
	line-height: 100rpx;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 30rpx;
}

.timeleft .yu-datetime-item {
	display: flex;
	justify-content: flex-end;
	padding-right: 40rpx;
}

.timeRight .yu-datetime-item {
	display: flex;
	justify-content: flex-start;
	padding-left: 40rpx;
}

.popup {
	height: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 25rpx 30rpx 40rpx 30rpx;
	background-color: #F5F6F8;
	justify-content: space-between;
	align-content: flex-start;
}

.popup text {
	width: 220rpx;
	height: 124rpx;
	background-color: #FFFFFF;
	display: inline-block;
	text-align: center;
	line-height: 124rpx;
	margin-top: 15rpx;
	color: #a7a7a7;
	border-radius: 8rpx;
}

.titleCenter {
	justify-content: center;
	position: relative;
}

.popupTitle {
	font-size: 36rpx;
	font-weight: Regular;
}

.timeTitle {
	position: absolute;
	left: 50%;
	font-size: 36rpx;
	font-weight: Regular;
	transform: translate(-50%, 0);
}

.shut {
	width: 82rpx;
	height: 82rpx;
	background: url(../../static/image/xf/close.png) no-repeat;
	background-size: cover;
	position: absolute;
	right: 0;
}

.topupHeight .itemBgc {
	background-color: #EAD4AC;
	color:#FFFFFF;
}

.topupHeight .itemBgc1 {
	background-color: #EEEEEE;
}
.list {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}

.list text {
	padding-left: 28rpx;
	box-sizing: border-box;
	font-size: 15px;
	height: 87rpx;
	line-height: 87rpx;
	font-weight: Regular;
}
